body {
    /*color: #fff;*/
    text-align: center;
    /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

header {
    font-family: 'Bree Serif', serif;
    opacity: 0.3;
    padding-bottom: 15px;
}
.circles img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background: url(images/me_2017bw.jpg) no-repeat;
}

.circles {
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: opacity .25s ease-in-out;
}

.btn-get-resume .btn {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    color: rgb(32, 120, 178);
    font-family: sans-serif;
}

.btn-get-resume:hover {
    opacity: 0.5;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: rgb(242, 243, 247);
    border: 2px dotted;
    border-radius: 4px;
    text-decoration: none;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.5rem;
    color: rgb(72, 72, 78);
}
i {
padding: 15px;

}
.links li a .i {
    font-size: 75px;
    text-decoration: none;
    height: 10px;
    margin-top: 1rem;
    
    
}
a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.links {
    padding: 0;
    margin: 2rem;
    white-space: nowrap;
    list-style-type: none;

}

.links li {
    display: inline;
    opacity: 0.2;
    padding: 1 rem;
}

/*
.links li:hover {
    opacity: 2;
}

.links li img {
    width: 75px;
}

.links li a {
    font-size: 75px;
    text-decoration: none;
    height: 12px;
}
*/